<style>
    .error {
        color: red;
        font-weight: bold;
    }
</style>

<div>
    <span>We got an error.</span>
    <h1 class="error">
        <%= error %>
    </h1>
</div>

<a href="/">Home</a>